.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-1-square {
    
    transition:3s;
}
.ex-1-square:hover{
    background-color: red;
}
/* /esercizio 1 */


/* esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-2-square{
    transition: 3s;
}
.ex-2-square:active{
    width:800px ;
}
/* /esercizio 2 */


/* esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square{
    transition: 3s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* /esercizio 3 */

/* esercizio 4 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square{
    transition: 3s;
}
.ex-4-square:hover{
    opacity: 0;
}

/* /esercizio 4 */


/* esercizio 5*/

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square{
    transition: 3s;
}
.ex-5-square:hover{
    width: 90px;
    height: 90px;
}
.ex-5-square:active{

    width: 30px;
    height: 30px;
}

/* /esercizio 5*/



.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-7-img{
    transition: 3s;
}
.ex-6-img:hover{

    filter: grayscale(100%);
}
.ex-7-img:hover{
    filter: sepia(50%);
    filter: invert(1);
}
.ex-8-img {
    transition: 3s;
}
.ex-8-img:hover {
    filter: drop-shadow(16px 16px 20px red) invert(75%);
    border-radius: 40px;
}
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-9-img {
    transition: 3s;
}
.ex-9-img:hover {
    filter: drop-shadow(10px 20px brown) grayscale(.7);
    border-radius: 50%;
    transform: scale(1.3);
}
.ex-10-icon {
    font-size: 60px;
    
    animation-name: gira;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes gira {
    0% {
        transform: rotate(0deg);
    }
     50%{
        transform: rotate(180deg); 

    }
    100%{
        transform: rotate(360deg);

    }
}


.ex-11-icon{
    font-size: 60px;

}
.ex-11-icon:hover {
    animation-name: gira-2;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes gira-2 {
    0% {
        transform: rotate(0deg);
    }
     50%{
        transform: rotate(180deg); 

    }
    75%{
        transform: rotate(275deg);

    }
}


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: movimento-bottom 3s linear;
}
@keyframes movimento-bottom {
    0% {
        right: 20px;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}
.ex-12-button:hover .ex-12-top-white {
    animation: movimento-top 3s linear;
}
@keyframes movimento-top {
    0% {
        left: 20%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 20%;
    }
}



.ex-13-button .ex-13-top-white {
    animation: movimento-top-completo 3s linear;
    animation-iteration-count: infinite;

}
@keyframes movimento-top-completo {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button .ex-13-bottom-white {
    animation:movimento-bottom-completo 3s linear;
    animation-iteration-count: infinite;

}


@keyframes movimento-bottom-completo {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
/* Ammetto le percentuali e i px li ho copiati */